.prices2 {
  height: 282px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &__title { 
    font-size: 22px;
    font-weight: bold;

  }

  &__text {
     
    color: #888888;
  }
}

.star {
  display: flex;


  &__hotel {
    font-weight: bold;
  }

  &__line {
    width: 330px;
    border-bottom: 1px #e6e6e6 solid;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-right: 4px;
  }

  &__price {
    color: #318cc6;
    font-weight: bold;
  }
}